<div role="group" :aria-label="'Password input for ' + (label || 'password')">
  <input
    type="password"
    class="form-control focus-outline"
    :readonly="autogenerate"
    autocomplete="new-password"
    v-on:change="updateValue()"
    v-on:input="onInput($event)"
    v-on:focus="onFocus()"
    v-on:blur="isFocused = false"
    v-model.trim.lazy="$v.value.$model"
    :name="name"
    :id="name"
    :placeholder="fieldPlaceholder"
    :aria-label="_ariaLabel"
    :aria-describedby="_ariaDescribedBy"
    :aria-invalid="_ariaInvalid"
    tabindex="0"
    @blur="onBlur()"
  />
  
  <p class="text-danger" v-if="$v.value.required === false && $v.value.$dirty" role="alert" aria-live="assertive">
    {{T "widgets.form.errors.required"}}
  </p>

  <div
    v-if="isFocused || $v.value.$model"
    class="panel password-checker"
    :class="validationClass.password"
    role="group"
    aria-label="Password requirements"
  >
    <div class="panel-heading" role="heading" aria-level="3">{{T "widgets.form.password.requirements.title"}}</div>
    <div class="panel-body" role="list">
      <div class="requirement" role="listitem">
        <input
          type="checkbox"
          class="hidden"
          :checked="$v.value.$model.length >= passwordMinLength"
          readonly="readonly"
          tabindex="-1"
          :aria-label="'Password length requirement: ' + ($v.value.$model.length >= passwordMinLength ? 'met' : 'not met')"
        />
        <label class="requirement-marker" :aria-label="$v.value.$model.length >= passwordMinLength ? 'Requirement met' : 'Requirement not met'">
          <i class="fa fa-check" aria-hidden="true"></i>
        </label>
        <span>{{T "widgets.form.password.requirements.length"}}</span>
      </div>
      <div class="requirement" role="listitem">
        <input
          type="checkbox"
          class="hidden"
          :checked="$v.value.containsUppercase && $v.value.$model"
          readonly="readonly"
          tabindex="-1"
          :aria-label="'Uppercase requirement: ' + ($v.value.containsUppercase && $v.value.$model ? 'met' : 'not met')"
        />
        <label class="requirement-marker" :aria-label="$v.value.containsUppercase && $v.value.$model ? 'Requirement met' : 'Requirement not met'">
          <i class="fa fa-check" aria-hidden="true"></i>
        </label>
        <span>{{T "widgets.form.password.requirements.uppercase"}}</span>
      </div>
      <div class="requirement" role="listitem">
        <input
          type="checkbox"
          class="hidden"
          :checked="$v.value.containsLowercase && $v.value.$model"
          readonly="readonly"
          tabindex="-1"
          :aria-label="'Lowercase requirement: ' + ($v.value.containsLowercase && $v.value.$model ? 'met' : 'not met')"
        />
        <label class="requirement-marker" :aria-label="$v.value.containsLowercase && $v.value.$model ? 'Requirement met' : 'Requirement not met'">
          <i class="fa fa-check" aria-hidden="true"></i>
        </label>
        <span>{{T "widgets.form.password.requirements.lowercase"}}</span>
      </div>
      <div class="requirement" role="listitem">
        <input
          type="checkbox"
          class="hidden"
          :checked="$v.value.containsNumber && $v.value.$model"
          readonly="readonly"
          tabindex="-1"
          :aria-label="'Number requirement: ' + ($v.value.containsNumber && $v.value.$model ? 'met' : 'not met')"
        />
        <label class="requirement-marker" :aria-label="$v.value.containsNumber && $v.value.$model ? 'Requirement met' : 'Requirement not met'">
          <i class="fa fa-check" aria-hidden="true"></i>
        </label>
        <span>{{T "widgets.form.password.requirements.number"}}</span>
      </div>
      <div class="requirement" role="listitem">
        <input
          type="checkbox"
          class="hidden"
          :checked="$v.value.containsSpecial && $v.value.$model"
          readonly="readonly"
          tabindex="-1"
          :aria-label="'Special character requirement: ' + ($v.value.containsSpecial && $v.value.$model ? 'met' : 'not met')"
        />
        <label class="requirement-marker" :aria-label="$v.value.containsSpecial && $v.value.$model ? 'Requirement met' : 'Requirement not met'">
          <i class="fa fa-check" aria-hidden="true"></i>
        </label>
        <span>{{T "widgets.form.password.requirements.symbol"}}</span>
      </div>
    </div>
  </div>
</div>

<div class="form-group row clearfix" data-form-field v-if="confirm" role="group" aria-label="Password confirmation">
  <br />
  <div class="col-xs-12">
    <label class="control-label" for="confirmPassword">{{T "widgets.form.password.confirmPassword"}}
      <template v-if="required">
        <span class="required-info" aria-label="Required field">*</span>
      </template>
    </label>
  </div>
  <div class="col-xs-12">
    <input
      type="password"
      class="form-control focus-outline"
      v-model.lazy="$v.passwordConfirmation.$model"
      id="confirmPassword"
      autocomplete="new-password"
      v-on:change="updatePasswordConfirmation()"
      v-on:input="onPasswordConfirmationInput($event)"
      v-on:focus="onConfirmFocus()"
      v-on:blur="onConfirmBlur()"
      :aria-label="'Confirm ' + (label || 'password')"
      :aria-describedby="_ariaDescribedBy"
      :aria-invalid="_ariaInvalid"
      tabindex="0"
    />
  </div>
  <div class="col-xs-12">
    <div
      v-if="isFocused || $v.value.$model"
      class="panel password-checker"
      :class="validationClass.passwordConfirmation"
      role="group"
      aria-label="Password confirmation requirements"
    >
      <div class="panel-heading" role="heading" aria-level="3">{{T "widgets.form.password.requirements.confirmTitle"}}</div>
      <div class="panel-body" role="list">
        <div class="requirement" role="listitem">
          <input
            type="checkbox"
            class="hidden"
            :checked="$v.passwordConfirmation.sameAsPassword && $v.value.$model"
            readonly="readonly"
            tabindex="-1"
            :aria-label="'Password match requirement: ' + ($v.passwordConfirmation.sameAsPassword && $v.value.$model ? 'met' : 'not met')"
          />
          <label class="requirement-marker" :aria-label="$v.passwordConfirmation.sameAsPassword && $v.value.$model ? 'Requirement met' : 'Requirement not met'">
            <i class="fa fa-check" aria-hidden="true"></i>
          </label>
          <span>{{T "widgets.form.password.requirements.confirmation"}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
